# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# ide settings
/.vscode

# backend ignore gradle files - changes
backend/.project
backend/.settings/org.eclipse.buildship.core.prefs

# backend ignore gradle new files
backend/.classpath
backend/.gradle
backend/bin/
backend/build/
