.App {
    text-align: center;
    overflow: hidden;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.state-tooltip {
    position: fixed;
    margin: 8px;
    padding: 4px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    max-width: 300px;
    font-size: 10px;
    z-index: 20;
    pointer-events: none;
}

.MapControllers {
    position: absolute;
    left: 250px;
    padding: 10px;
}

.FullScreenController {
    top: 0;
}

.NavigationController {
    top: 36px;
}

.ScaleController {
    bottom: 36px;
}

/* ElectionBar styling */

.BarDisplay {
    display: inline-flex;
    width: 100%;
    color: white;
    font-size: small;
}

.BlueBar {
    height: 30px;
    margin: 10px 0px 10px 0px;
    background-color: rgb(107, 119, 255);
    color: black;
}

.RedBar {
    height: 30px;
    margin: 10px 0px 10px 0px;
    background-color: rgb(255, 82, 82);
    color: black;
}

.GreenBar {
    height: 30px;
    margin: 10px 0px 10px 0px;
    background-color: rgb(58, 180, 58);
    color: black;
}

.YellowBar {
    height: 30px;
    margin: 10px 0px 10px 0px;
    background-color: rgb(234, 234, 0);
    color: black;
}

#leftCol {
    top: 0px;
    left: 0px;
    position: fixed;
    width: 250px;
    /* max-width: 20%; */
    height: calc(100% - 0px);
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.9);
}

/*New Added By David*/

#leftCol {
    overflow: scroll;
}

/*Comment Modal*/

#commentModalInput {
    width: 460px;
}

.mapboxgl-ctrl-bottom-left {
    left: 250px !important;
}

#editor {
    z-index: 4;
}

.Extra-Large-Button {
    width: 100%;
}

.Extra-Large-Button:hover {
    text-decoration: underline;
}

.dataSource {
    position: relative;
    font-style: italic;
    font-size: 8pt;
    text-align: end;
    right: -40%;
    top: -8pt;
}

/*userModeSelector*/

#userModeSelect {
    margin-left: 10px;
}

/*error list*/

.errorList {
    margin-bottom: 2px;
}